# Important page_id!!! Duplicate Template from https://www.notion.so/tanghh/02ab3b8678004aa69e9e415905ef32a5
# NOTION_PAGE_ID=02ab3b8678004aa69e9e415905ef32a5,en:7c1d570661754c8fbc568e00a01fd70e

# Pseudo-static path, if enabled, all article URLs will end with .html.
# NEXT_PUBLIC_PSEUDO_STATIC=false

# Update content cache interval in seconds; each page has a 5-second pure static period.
# NEXT_PUBLIC_REVALIDATE_SECOND=5

# Current theme, find all supported themes in the themes folder; the theme name is the folder name, e.g., example, fukasawa, gitbook, heo, hexo, landing, matery, medium, next, nobelium, plog, simple.
# NEXT_PUBLIC_THEME=simple

# Show theme switch button
# NEXT_PUBLIC_THEME_SWITCH=false

# Language, e.g., 'zh-CN','en-US' see /lib/lang.js for more.
# NEXT_PUBLIC_LANG=zh-CN

# If left empty, the current year will be used.
# NEXT_PUBLIC_SINCE=2021

# Appearance mode: ['light', 'dark', 'auto'], light for day mode, dark for night mode, auto to switch based on time and theme.
# NEXT_PUBLIC_APPEARANCE=light

# Night mode time range, false to disable automatic switching based on time.
# NEXT_PUBLIC_APPEARANCE_DARK_TIME=[18, 6]

# Sort tags by article count in descending order, tags with more articles are listed first.
# IS_TAG_COLOR_DISTINGUISHED=true

# Whether to distinguish tag colors for tags with the same name.
# NEXT_PUBLIC_IS_TAG_COLOR_DISTINGUISHED=true

# Greeting words, support multiple greetings with a typing effect, separated by commas.
# NEXT_PUBLIC_GREETING_WORDS=Hi，我是一个程序员, Hi，我是一个打工人,Hi，我是一个干饭人,欢迎来到我的博客🎉

# Support for Menu type, starting from version 3.12.0, themes will gradually support flexible secondary menu configuration.
# NEXT_PUBLIC_CUSTOM_MENU=false

# Your nickname, e.g., tangly1024.
# NEXT_PUBLIC_AUTHOR=NotionNext

# Author bio
# NEXT_PUBLIC_BIO=一个普通的干饭人🍚

# Website URL
# NEXT_PUBLIC_LINK=https://tangly1024.com

# Website keywords, separated by commas.
# NEXT_PUBLIC_KEYWORD=Notion, 博客

# Social links, leave blank if not needed.
# NEXT_PUBLIC_CONTACT_EMAIL=
# NEXT_PUBLIC_CONTACT_WEIBO=
# NEXT_PUBLIC_CONTACT_TWITTER=
# NEXT_PUBLIC_CONTACT_GITHUB=
# NEXT_PUBLIC_CONTACT_TELEGRAM=
# NEXT_PUBLIC_CONTACT_LINKEDIN=
# NEXT_PUBLIC_CONTACT_INSTAGRAM=
# NEXT_PUBLIC_CONTACT_BILIBILI=
# NEXT_PUBLIC_CONTACT_YOUTUBE=
# NEXT_PUBLIC_CONTACT_XIAOHONGSHU=
# NEXT_PUBLIC_CONTACT_ZHISHIXINGQIU=
# NEXT_PUBLIC_CONTACT_WEHCHAT_PUBLIC=

# Notion domain, you can use your own domain for reverse proxy, do not modify if you don't understand reverse proxy.
# NEXT_PUBLIC_NOTION_HOST=https://www.notion.so

# Blog favicon configuration, default is /public/favicon.ico, supports online images.
# NEXT_PUBLIC_FAVICON=/favicon.ico

# Default image compression width, applies to blog cover and article content. Smaller values result in faster loading.
# NEXT_PUBLIC_IMAGE_COMPRESS_WIDTH=800

# Image quality width when clicking to enlarge the article image, not the actual display width on the web page.
# NEXT_PUBLIC_IMAGE_ZOOM_IN_WIDTH=1200

# Random image API, if not configured, the homepage cover, avatar, and article cover images will be replaced with random images.
# NEXT_PUBLIC_RANDOM_IMAGE_URL=

# Keyword to trigger image replacement, only images with URLs containing this keyword will be replaced with the above random image URL.
# NEXT_PUBLIC_RANDOM_IMAGE_NOT_REPLACE_TEXT=images.unsplash.com

# Website font configuration
# NEXT_PUBLIC_FONT_STYLE=font-sans font-light

# Font CSS
# NEXT_PUBLIC_FONT_AWESOME_PATH=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css

# Whether to allow copying page content, default is allowed, setting to false will disable copying content.
# NEXT_PUBLIC_CAN_COPY=true

# Custom right-click menu, overrides system menu.
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU=true

# Show theme switch in custom right-click menu
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU_THEME_SWITCH=true

# Show dark mode in custom right-click menu
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU_DARK_MODE=true

# Show share link in custom right-click menu
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU_SHARE_LINK=true

# Show random blog in custom right-click menu
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU_RANDOM_POST=true

# Show category in custom right-click menu
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU_CATEGORY=true

# Show tags in custom right-click menu
# NEXT_PUBLIC_CUSTOM_RIGHT_CLICK_CONTEXT_MENU_THEME_TAG=true

# Custom external scripts, external styles
# CUSTOM_EXTERNAL_JS=['']
# CUSTOM_EXTERNAL_CSS=['']

# Sidebar layout reversal (left becomes right, right becomes left)
# NEXT_PUBLIC_LAYOUT_SIDEBAR_REVERSE=false

# Sidebar Facebook Page widget
# NEXT_PUBLIC_FACEBOOK_PAGE_TITLE=
# NEXT_PUBLIC_FACEBOOK_PAGE=
# NEXT_PUBLIC_FACEBOOK_PAGE_ID=
# NEXT_PUBLIC_FACEBOOK_APP_ID=

# Filing number
# NEXT_PUBLIC_BEI_AN=

# PrismJs code related
# NEXT_PUBLIC_PRISM_THEME_PREFIX_PATH=https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-okaidia.css
# NEXT_PUBLIC_PRISM_THEME_SWITCH=true
# NEXT_PUBLIC_PRISM_THEME_LIGHT_PATH=https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-solarizedlight.css
# NEXT_PUBLIC_PRISM_THEME_DARK_PATH=https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-okaidia.min.css
# NEXT_PUBLIC_CODE_MAC_BAR=true
# NEXT_PUBLIC_CODE_LINE_NUMBERS=false
# NEXT_PUBLIC_CODE_COLLAPSE=true
# NEXT_PUBLIC_CODE_COLLAPSE_EXPAND_DEFAULT=true

# Mermaid chart CDN
# NEXT_PUBLIC_MERMAID_CDN=https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.2.4/mermaid.min.js

# QRCode CDN
# NEXT_PUBLIC_QR_CODE_CDN=https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js

# Background colors
# BACKGROUND_LIGHT=#eeeeee
# BACKGROUND_DARK=#000000

# Sub path, leave empty unless deploying in a folder.
# SUB_PATH=

# Post share bar
# NEXT_PUBLIC_POST_SHARE_BAR=true
# NEXT_PUBLIC_POST_SHARE_SERVICES=link,wechat,qq,weibo,email,facebook,twitter,telegram,messenger,line,reddit,whatsapp,linkedin

# Post URL prefix
# NEXT_PUBLIC_POST_URL_PREFIX=article

# Post list style: 'page' for pagination, 'scroll' for infinite scroll.
# NEXT_PUBLIC_POST_LIST_STYLE=page

# Load post preview in list
# NEXT_PUBLIC_POST_PREVIEW=false

# Preview blog lines
# NEXT_PUBLIC_POST_POST_PREVIEW_LINES=12

# Recommended posts count
# NEXT_PUBLIC_POST_RECOMMEND_COUNT=6

# Posts per page
# NEXT_PUBLIC_POST_PER_PAGE=12

# Post sorting method: 'date' for time, 'notion' controlled by notion.
# NEXT_PUBLIC_POST_SORT_BY=notion

# Post loading timeout in seconds before redirecting to 404 page.
# NEXT_PUBLIC_POST_WAITING_TIME_FOR_404=8

# Algolia settings
# NEXT_PUBLIC_ALGOLIA_APP_ID=null
# ALGOLIA_ADMIN_APP_KEY=null
# NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_APP_KEY=null
# NEXT_PUBLIC_ALGOLIA_INDEX=null

# Show post title icon
# NEXT_PUBLIC_POST_TITLE_ICON=true

# Disable gallery click
# NEXT_PUBLIC_POST_DISABLE_GALLERY_CLICK=false

# Dynamic effects
# NEXT_PUBLIC_FIREWORKS=false
# NEXT_PUBLIC_FIREWORKS_COLOR=255, 20, 97,24, 255, 146,90, 135, 255,251, 243, 140
# NEXT_PUBLIC_MOUSE_FOLLOW=true
# NEXT_PUBLIC_SAKURA=false
# NEXT_PUBLIC_NEST=false
# NEXT_PUBLIC_FLUTTERINGRIBBON=false
# NEXT_PUBLIC_RIBBON=false
# NEXT_PUBLIC_STARRY_SKY=false

# TianliGPT settings
# NEXT_PUBLIC_TIANLI_GPT_CSS=https://cdn1.tianli0.top/gh/zhheo/Post-Abstract-AI@0.15.2/tianli_gpt.css
# NEXT_PUBLIC_TIANLI_GPT_JS=https://cdn1.tianli0.top/gh/zhheo/Post-Abstract-AI@0.15.2/tianli_gpt.js
# NEXT_PUBLIC_TIANLI_GPT_KEY=

# Chatbase settings
# NEXT_PUBLIC_CHATBASE_ID=null

# WebwhizAI settings
# NEXT_PUBLIC_WEB_WHIZ_ENABLED=false
# NEXT_PUBLIC_WEB_WHIZ_BASE_URL=https://api.webwhiz.ai
# NEXT_PUBLIC_WEB_WHIZ_CHAT_BOT_ID=null
# NEXT_PUBLIC_DIFY_CHATBOT_ENABLED=false
# NEXT_PUBLIC_DIFY_CHATBOT_BASE_URL=
# NEXT_PUBLIC_DIFY_CHATBOT_TOKEN=

# Widget pet settings
# NEXT_PUBLIC_WIDGET_PET=true
# NEXT_PUBLIC_WIDGET_PET_LINK=https://cdn.jsdelivr.net/npm/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json
# NEXT_PUBLIC_WIDGET_PET_SWITCH_THEME=true
# NEXT_PUBLIC_WIDGET_PET_SWITCH_THEME_TO_DARK_TIME=18
# NEXT_PUBLIC_WIDGET_PET_SWITCH_THEME_TO_LIGHT_TIME=7
# NEXT_PUBLIC_WIDGET_PET_MOUSE=true
# NEXT_PUBLIC_WIDGET_PET_TOOLTIPS=true
# NEXT_PUBLIC_WIDGET_PET_TOOLTIPS_TEXT="Something you want to say to your website visitors"
