@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
}

.article {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.header-name {
  overflow: hidden;
}
.sticky-nav-full .nav {
  @apply text-gray-600 dark:text-gray-300;
}
nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}
.article-tags::-webkit-scrollbar {
  width: 0 !important;
}
.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}
.tag-container ul {
  -ms-overflow-style: none;
}

nav#home-nav-button > a {
  background-color: rgba(67, 1, 1, 0.1);
  /* backdrop-filter: blur(5px); */
  border-radius: 0.5rem;
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.7;
}

nav#home-nav-button > a:hover {
  opacity: 0.85;
}